<%- include("allLinks.ejs"); %>


<body>
    <div class="main">
    <h1 class="frontHeading">Hi,Welcome to Today'sWeather WebApp</h1>
        <p class="frontSubHeading">Here you can search the weather condition of any city you want ❤️</p>
        <div id="formData" class="form">
            <form class="formData" action="/next" method="post">
                <input type="text" placeholder="Enter a city name" name="cityName" id="cityName">
                <!-- <a class="searchBtn" href="/next"><i class="fa-solid fa-magnifying-glass fa-xl"></i></a> -->
                <button class="searchBtn"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
            </form>
        </div>

    </div>
</body>