* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.0ex;
    font-weight: bold;
}

.sectionOfNextP {


    width: auto;
    height: auto;
    background-color: rgb(219, 215, 215);
    padding: 5% 10%;
}

.div1 {
    background-color: #fdf8ff;
    /* background-image: linear-gradient(#Ead6ee, #a0f1ea, #Ead6ee); */
    z-index: 2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 650px;
}

.div2 {
    z-index: 2;
    background-image: linear-gradient(#D8B5FF, #1EAE98);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 650px;

}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(53, 53, 53, 0.75)),
        url("https://images.pexels.com/photos/268941/pexels-photo-268941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    opacity: 0.9;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.frontHeading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.6rem;
    font-weight: 800;
    color: white;
    position: relative;
    top: 37%;
    text-align: center;
}

.frontSubHeading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.0rem;
    font-weight: 300;
    color: white;
    position: relative;
    top: 37%;
    text-align: center;
}


.formData {
    padding: 9% 14%;
    text-align: center;
}

.cityVal {
    font-family: 'Ubuntu', sans-serif;
    /* font-weight:900; */
    font-weight: bold;
}

.feelsLike {
    font-family: 'Castoro Titling', cursive;
}

#cityName {
    outline: none;
    background-color: white;
    color: black;
    width: 50%;
    padding: 9px;
    margin: 15% 0;
}

#cityName::placeholder {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-weight: 400;
    font-size: 1.2rem; */
}

input[type='text'] {
    font-size: 24px;
}

#cityNameNxtP {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
    width: 80%;
}

.searchBtn {
    border: none;
    background-color: white;
    padding: 18px 10px 12px 10px;
}

hr {
    height: 2px;
    color: wheat;
}

.footer {
    text-align: center;
    margin-top: 12%;
}

.footer h6 {
    font-size: 20px;
}

#beforeBasic {
    padding: 4% 2% 0 0;
}

#basic {
    background-color: white;
    /* background-color: rgb(241, 232, 232); */
    border-radius: 10px;
    margin: 3% 1.5% 1.5% 5%;
    height: 200px;
    padding: 3%;
}

.content {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 2rem;
    font-weight: 400;
}

.contImg {
    display: flex;
    justify-content: space-around;
}

.someIcons {
    width: 100px;
    height: 90px;
}

.MaxTemp {
    width: 80px;
    height: 100px;
}

.windIcon {
    width: 160px;
    height: 150px;
}

.temp {
    display: flex;
    flex-direction: column;
}

.tempVal {
    font-size: 1.5rem;
}

.Val {
    line-height: 4.5rem;
    font-size: 2.5rem;
}

#initialMain {
    width: 50%;
    margin: 5% 0 0 20%;
}


/* CSS for mobile screens */
@media only screen and (max-width: 768px) and (min-width: 0px) {
    * {
        font-size: 19px;
    }

    .formData {
        padding: 29% 14% 0 14%;
        text-align: center;
    }

    #cityName {
        width: 70%;
        margin: 15% 0 0 0;
    }

    #cityName::placeholder {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

    input[type='text'] {
        font-size: 18px;
    }

    #beforeBasic {
        display: flex;
        justify-content: center;
    }

    #basic {
        margin: 5%;
        height: 200px;
        padding: 1.5%;
    }

    .div1 {
        border-radius: unset;
        height: 700px;
    }

    .div2 {
        border-radius: unset;
        height: 1100px;
    }

    .frontHeading {
        font-size: 1.9rem;
    }

    .frontSubHeading {
        font-size: 1.1rem;
        font-weight: 400;
    }

    .searchBtn {
        padding: 9px 10px;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    #basic {

        margin: 3%;
        height: 180px;
        padding: 2%;

    }

    #beforeBasic {
        display: flex;
        justify-content: center;
    }

    .div1 {
        border-radius: unset;
        height: 700px;
    }

    .div2 {
        border-radius: unset;
        height: 1100px;
    }


    #cityName {
        margin: 24% 0 0 0;
    }
}